body {
  font-family: "Times new roman", sans-serif;
  background-color: white;
  color: black;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
p {
  font-size: 18px;
  line-height: 1.2;
}
.container {
  max-width: 900px;
  margin: 15px auto 15px auto;
  padding: 80px 80px 100px 80px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
td {
  border: 1px solid #ddd;
  padding: 8px;
  vertical-align: top;
}
.photo {
  width: 150px;
  text-align: center;
}
.photo img {
  max-width: 100%;
  height: auto;
}
.description {
  padding-left: 15px;
}
.description p {
  margin: 0;
  padding: 5px 0;
}
